language: python

rvm:
  - 1.9.3
python:
  - "2.7"
gemfile: rb/Gemfile

install: 
        pip install -r py/requirements.txt --use-mirrors
	
script:
        make test

notifications:
  irc: "irc.freenode.org#hyperglyph"
